<header>
  <h1>Home#index</h1>
  <p>Welcome to my website!</p>
</header>

<main>
  <p>Find me in app/views/home/index.html.erb</p>
  <p>This is my new website and it's using Simple.css. It's really cool. If you want to use it too, you can <a href="https://simplecss.org">visit their site</a>.</p>

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</main>

<footer>
  <p>Jane Smith's website.</p>
</footer>